body {
    /* background: #26d1a9; */
    background: linear-gradient(#26d1a9, transparent), linear-gradient(to top left, #00f29d, transparent), linear-gradient(to top right, #24009c, transparent);
    font-family: 'Modak', cursive;
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100vh;
}


/* Fonts + Texts */

h2 {
    font-size: 2.2em;
    font-family: 'Modak', cursive;
    text-transform: uppercase;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}


/* Navigation Top + Search */

nav {
    /* background: #2a2a2a; */
}

nav#nav-bar {
    z-index: 3;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    color: none !important;
    border: 1px white solid !important;
    background: transparent !important;
}

#search-icon {
    width: 110px;
    transition: 2s ease;
    top: -15px;
    left: 10px;
    position: relative;
}

input#userInput:focus {
    height: 75px !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 5px white solid !important;
    border-radius: 5px !important;
    font-size: 1.5em !important;
    color: white !important;
}

input#userInput {
    height: 55px !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 5px white solid !important;
    border-radius: 5px !important;
    transition: .5s ease !important;
    font-size: 1.5em !important;
    color: white !important;
    font-family: 'Modak', cursive !important;
    text-transform: uppercase;
}

#userInput::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white !important;
    font-size: 1.8em !important;
}

::-webkit-input-placeholder {
    color: white !important;
    background: transparent !important;
}

input.dropdown {
    background-color: rgba(26, 26, 26, 0.2) !important;
    font-size: 1em !important;
    color: white;
    border: 2px solid white;
    transition: .1s ease;
    height: 45px;
}

input.dropdown:focus {
    color: white !important;
    background-color: rgba(26, 26, 26, 0.5) !important;
    border-radius: 30px;
}

button.btn-add {
    border: white 2px solid;
    color: white;
    /* background: #26d1a9; */
    background-color: rgba(26, 26, 26, 0.2) !important;
    border-radius: 30px;
    padding: 10px 30px;
    /* text-transform: uppercase; */
    transition: .1s ease;
}

button.btn-add:hover {
    background: #1a1a1a !important;
    border: 2px solid #1a1a1a;
}

button:focus {
    outline: none;
}

.btn-action {
    border: white 2px solid;
    color: white;
    background: transparent;
    border-radius: 20px;
    padding: 10px 20px;
    display: block;
    margin-bottom: 5px !important;
}


/* Sections + Content  */

main {
    height: 100vh;
    overflow-y: scroll !important;
}

section#bgPattern {
    background: url("../src/food\ pattern.png");
    background-repeat: repeat;
    height: 100%;
    opacity: .2;
    z-index: 0;
    position: absolute;
}

section#arrows {
    opacity: .8;
    z-index: 5;
    position: absolute;
    right: 50px;
    bottom: 30px;
}

img.food-icon {
    width: 90px;
}

div.card {
    box-shadow: -5px 5px 5px rgba(26, 26, 26, 0.3);
}

.text-card h2 {
    font-size: 2em;
}

.card-body {
    padding: 20px 10px;
}

.bg-dark {
    background-color: rgba(26, 26, 26, 0.5) !important;
}

.bg-dark-2 {
    /* background-color: rgba(26, 26, 26, 0.4) !important; */
}

header {
    margin-top: 150px;
}


/* Scroll bar */

::-webkit-scrollbar {
    display: none;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    input.dropdown,
    input#userInput {
        margin-top: 30px;
    }
    img.food-icon {
        width: 50px;
    }
    #businessName {
        font-size: 1.4em;
    }
    .btn-action {
        font-size: .6em;
        padding: 5px 20px;
        margin: 10px;
    }
    h3 {
        font-size: .8em;
    }
    h4 {
        font-size: .6em;
    }
    .card-body {
        padding: 10px 10px 0 10px;
    }
    header {
        text-align: center;
        margin-top: 175px;
    }
    .fp-controlArrow {
        top: 275px;
    }
}